<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Sentiment</title>

    <style>
        /* Add some spacing between the input elements */
        .input-group {
            margin-bottom: 20px; 
        }
    </style>
</head>

<body>

    <form id="myForm" action="/" method="post">
        <h2>Enter the business you'd like to search:</h2>
    
        <div class="input-group">
            Location: <input type="text" id="city" name="city">
        </div>
        
        <div class="input-group">
            Business: <input type="text" id="biz_name" name="biz_name">
        </div>
        
        <button type="submit">Submit</button>
    </form>
   
    <h2>Here's how you might feel about an experience there:</h2>
</body>



</html>

